<header id="header">
    <h1 id="logo"><a href="{{ '/' | url }}">Landed</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ '/' | url }}">Home</a></li>
            <li>
                <a href="#">Layouts</a>
                <ul>
                    <li><a href="{{ '/left-sidebar' | url }}">Left Sidebar</a></li>
                    <li><a href="{{ '/right-sidebar' | url }}">Right Sidebar</a></li>
                    <li><a href="{{ '/no-sidebar' | url }}">No Sidebar</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                            <li><a href="#">Option 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ '/elements' | url }}">Elements</a></li>
            <li><a href="#" class="button primary">Sign Up</a></li>
        </ul>
    </nav>
</header>